@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile, .start_pic-container {
        display: block;
    }
    section, .start_pic-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .start_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
}

@media screen and (max-width: 600px) {
    #footer-section {
        height: 40vh;
    }
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .menu {
        margin-right: 0%;
    }
    .menu_pizza {
        margin-left: 0%;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 2px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
}