@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    #menu-section, .menu {
        margin-top: 2rem;
    }

    #profile, .start_pic-container {
        display: block;
    }
    section, .start_pic-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .start_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
}

@media screen and (max-width: 600px) {
    #footer-section {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
}