@media screen and (max-width: 1919px) {
    .desktop_pic {
        display: none;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 1440px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    .desktop_pic {
        display: none;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }
    .menu-group-heading2 {
        margin-top: 25rem;
    }
    .menu-group-heading3 {
        margin-top: 50rem;
    }
    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 80rem;
        font-size: 40px;
    }
    #oeffnungs-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
    }
    
    .oeffnungszeiten {
        display: grid;
        grid-template-columns: 80px 120px;
        grid-template-rows: 80px 80px;
        justify-content: center;
    }
    
    .zeit_text {
        color: white;
        font-size: 25px;
    }
    
    .oeffnung-section {
        margin-bottom: 1rem;
    }

    .footer_ueberschrift {
        color: #ffc93c;
        margin-top: 60rem;
        font-size: 40px;
    }
    .team-ueberschrift {
        margin-top: 65rem;
    }
}
@media screen and (max-width: 1238px) {

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile, .start_pic-container {
        display: block;
    }
    section, .start_pic-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .start_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .menu-group-heading2 {
        margin-top: 5rem;
    }
    .menu-group-heading3 {
        margin-top: 5rem;
    }
    .team-ueberschrift {
        margin-top: 5rem;
    }
    .footer_ueberschrift {
        color: #ffc93c;
        margin-top: 8rem;
        font-size: 40px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 22rem;
        font-size: 40px;
    }
}
@media screen and (max-width: 900px) {
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }

    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 30rem;
        font-size: 40px;
    }
    #oeffnungs-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
    }
    
    .oeffnungszeiten {
        display: grid;
        grid-template-columns: 80px 120px;
        grid-template-rows: 80px 80px;
        justify-content: center;
    }
    
    .zeit_text {
        color: white;
        font-size: 25px;
    }
    
    .oeffnung-section {
        margin-bottom: 1rem;
    }

    .footer_ueberschrift {
        color: #ffc93c;
        margin-top: 7rem;
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }
    .footer_ueberschrift {
        color: #ffc93c;
        margin-top: 3rem;
        font-size: 25px;
    }

    .impressum_ueberschrift {
        color: #ffc93c;
        margin-top: 3rem;
        font-size: 25px;
    }

    .team-ueberschrift {
        font-size: 40px;
        color: #ffc93c;
    }
    
    .text_team_section {
        color: white;
        font-size: 18px;
    }
    
    .footer_text {
        color: white;
        font-size: 13px;
    }

    .impressum_text {
        color: white;
        font-size: 13px;
    }

    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 19rem;
    }
    #oeffnungs-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
    }
    
    .oeffnungszeiten {
        display: grid;
        grid-template-columns: 60px 100px;
        grid-template-rows: 80px 80px;
        justify-content: center;
    }
    
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 11rem;
        font-size: 30px;
    }
    
    .zeit_text {
        color: white;
        font-size: 20px;
    }
    
    .oeffnung-section {
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 420px) {
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }

    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 18rem;
    }
}
@media screen and (max-width: 414px), screen and (max-height: 896) {
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }

    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 11rem;
    }
}
@media screen and (max-width: 375px) {
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }

    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 25rem;
    }
}
@media screen and (max-width: 360px) {
    #profile-section {
        height: 83vh;
        margin-bottom: 0;
        display: flex;
    }

    .copyright{
        font-size: 15px;
        margin-top: 3rem;
    }
    .menu_section_box{
        flex-direction: column;
    }
    .contact {
        height: fit-content;
        margin-bottom: 2rem;
        margin: 0;
    }
    .section_text, .btn-container {
        flex-wrap: wrap;
    }
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .start_pic-container {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .section_text {
        font-size: 1.25rem;
        text-align: justify;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title_profile {
        font-size: 2rem;
    }
    .center_pic {
        display: block;
        width: 300px;
        height: 300px;
    }
    .desktop_pic {
        display: none;
    }
    .pizza_ueberschrift {
        color: #ffc93c;
        margin-top: 3%;
    }
    
    .pizza {
        color: white;
        font-size: large;
    }
    
    .pizza_last {
        margin-bottom: 3%;
        color: white;
        font-size: large;
    }
    .menu_pizza {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        flex: 1;
    }
    #team-section {
        justify-content: center;
        gap: 5rem;
        height: 80vh;
        min-height: 500px;
        margin-bottom: -3rem;
    }
    .essen{
        font-size: large;
    }
    .essen_last {
        font-size: large;
    }
    .menu {
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 15px;
        border-color: #ffc93c;
        margin-top: 1rem;
        margin-bottom: 10rem;
        margin-right: 2.5%;
        flex: 1;
    }
    .extra_menu_wrapper {
        display: flex;
        justify-content: center;
    }
    .wrapper_menu_extra {
        flex-direction: column;
        border-width: 3px;
        width: 330px;
        height: 170px;
        grid-template-columns: 160px 120px;
        grid-template-rows: 60px 60px;
    }
    .wrapper_wrapper {
        display: grid;
        flex-direction: column;
        margin-right: 4%;
    }
    .extra {
        color: white;
        font-size: 20px;
    }
    .extras_ueberschrift {
        color: #ffc93c;
        text-align: center;
        font-size: 50px;
    }
    .extra_ueber {
        font-size: 20px;
    }
    .zeit_ueberschrift {
        text-align: center;
        color: #ffc93c;
        font-size: xx-large;
        margin-bottom: 2rem;
        margin-top: 22rem;
    }
}